#users {
 display:flex;
 flex-flow: row wrap;
 max-width: 800px;
 margin: 1rem auto;
}

.user {
    border: solid 1px grey;
    border-radius: 10px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.user img {
    border-radius: 50%;
}

.user figcaption {
  margin-top: 1rem;
}